APP_ENV=development
APP_PORT=8080
CORS_ALLOW_ORIGIN=*

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=real_estate_secure
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false

SERVICE_TAGS=core,api
